* {
  box-sizing: border-box;
}
/*常用組件*/
.container {
  width: 70vw;
  margin: 0 auto;
}

.JhengHei {
  font-family: "微軟正黑體", "Microsoft JhengHei";
}

a {
  text-decoration: none;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.shadow {
  box-shadow: 2px 2px #333;
  text-shadow: 2px 2px #333;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo {
  margin: 15px 0px;
}

.logo img:nth-child(1) {
  width: 80px;
}
.logo img:nth-child(3) {
  width: 180px;
}
.logo .logoBar {
  width: 1px;
  height: 50px;
  content: " ";
  background: #d5bfbb;
  display: inline-block;
  margin: 0 10px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin: 0 5px;
}
.nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #cec1b7;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.nav ul li:hover::after,.nav ul li.static::after {
  left: 0;
  opacity: 1;
  width: 100%;
}
 
.nav ul li a {
  display: block;
  padding: 5px 10px;
  color: #cec1b7;
}

.nav ul li:hover img, .nav ul li.static img {
  margin: 8px auto;
}

.nav ul li a img {
  display: block;
  margin: 5px auto;
}

/*main*/
.main {
  /*background: url(img/slider.png) center center no-repeat;*/
  height: calc(100vh - 250px);
  max-width: 100vw;
  color: #fff;
  /*background-size:cover;*/
}

.main ul {
  z-index: 999;
  top: 10vh;
  left: 38vw;
}
.main ul li {
  font-size: 26px;
  list-style: none;
  margin: 13px 0;
}

.blogo {
  width: 13vw;
  top: 15vh;
  left: 45vw;
  animation: drop 2s infinite;
  filter:drop-shadow(1px 1px 5px rgba(51, 51, 51, 0.562));
}
.animation-show {
  animation: fadeout 4s;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*animation*/
@keyframes drop {
  0% {
    top: 13vh;
    /*width: 15vw;*/
  }
  50% {
    top: 15.1vh;
    /* width: 13.1vw;
    transform: scale(1.2);*/
  }
  100% {
    top: 13vh;
    /* width: 15vw;*/
  }
}
/*
.blogo:hover {
  width: 15.5vw;
  transform: scale(1.2);
}*/

.writing-mode-1 {
  writing-mode: vertical-lr;
  top: 40vh;
  left: 67vw;
}
.writing-mode-2 {
  writing-mode: vertical-rl;
  top: 40vh;
  right: 35vw;
}
.writing-mode-3 {
  writing-mode: vertical-lr;
  top: 40vh;
  left: 40vw;
}

/*footer*/
.footer {
  color: #a2938b;
}

.footer-content::before {
  content: "";
  border-top: 1px solid #d5bfbb;
  width: 750px;
  display: block;
  margin-bottom: 10px;
}
.footer-content {
  margin-top: 30px;
}
.footer-content ul li {
  list-style: none;
  padding: 5px 0;
}

.footer-content ul {
  float: left;
  margin-right: 30px;
}

/*project page*/

.projectMain {
  height: calc(100vh - 250px);
}

.projectContent{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.projectMain a p {
  z-index: 999;
  text-align: center;
  color: #a2938b;
}

.projectMain figure {
  width: calc(33.3% - 100px);
  height: calc(40% - 30px);
  overflow: hidden;
  margin-bottom: 5px;
}
.projectImg {
  width: 99%;
  height: 75%;
  overflow: hidden;
}

.projectMain figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease-in-out;
  filter:brightness(.5);
}
.projectMain figure a:hover img {
  width: 105%;
  transform: scale(1.2);
  filter:brightness(1);
}

.projectMain figure a:hover p{
 color: #796c66;
}
/*project page content*/

.projectMainContent{
  display: flex;
}

.ContentGallery{
  width:40%;
  
}
.ContentInfo{
  width:60%;
}
.projectGalleryLi{
  
}

.imageGallery img{
  width: 100%;
}