* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #a2938b;
}
/*常用組件*/
.container {
  width: 70vw;
  margin: 0 auto;
}

.JhengHei {
  font-family: "微軟正黑體", "Microsoft JhengHei";
}

a {
  text-decoration: none;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.shadow {
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.342);
}

/*Header*/

header {
  background: #fff;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top:0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 0 0px;
}

.logo img:nth-child(1) {
  width: 80px;
}
.logo img:nth-child(3) {
  width: 180px;
}
.logo .logoBar {
  width: 1px;
  height: 50px;
  content: " ";
  background: #d5bfbb;
  display: inline-block;
  margin: 0 10px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #cec1b7;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.nav ul li:hover::after,
.nav ul li.static::after {
  left: 0;
  opacity: 1;
  width: 100%;
}

.nav ul li a {
  display: block;
  padding: 5px 5px;
  color: #cec1b7;
}
.toggleMenu {
  position: relative;
}

.toggleMenu ion-icon {
  color: #cec1b7;
  padding-left: 5px;
  transform: translateY(3px);
}

ul.submenu {
  z-index: 1;
  position: absolute;
  top: 50px;
  background: #fff;
  width: 110px;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
  left: 10px;
  max-height: 0;
  overflow: hidden;
}
ul.submenu li {
  margin: 5px 2px;
  display: block;
}
li:hover ul.submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  max-height: 230px;
}
/*
.nav ul li:hover img, .nav ul li.static img {
  margin: 8px auto;
}

.nav ul li a img {
  display: block;
  margin: 5px auto;
}
*/
/*main*/
.main {
  /*background: url(img/slider.png) center center no-repeat;*/
  /*height: calc(100vh - 250px);*/
  /* transform: translateY(100px);*/
  margin-top: 50px;
  height: 95vh;
  max-width: 100vw;
  
}

.main ul {
  z-index: 999;
  top: 10vh;
  left: 33vw;
  
}
.main ul li {
  font-size: 26px;
  list-style: none;
  margin: 13px 0;
  color: #fff;
}

.blogo {
  width: 13vw;
  top: 15vh;
  left: 43vw;
  animation: drop 2s infinite;
  filter: drop-shadow(1px 1px 5px rgba(51, 51, 51, 0.562));
}
.animation-show {
  animation: fadeout 4s;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*animation*/
@keyframes drop {
  0% {
    top: 13vh;
    /*width: 15vw;*/
  }
  50% {
    top: 15.1vh;
    /* width: 13.1vw;
    transform: scale(1.2);*/
  }
  100% {
    top: 13vh;
    /* width: 15vw;*/
  }
}
/*
.blogo:hover {
  width: 15.5vw;
  transform: scale(1.2);
}*/

.writing-mode-1 {
  writing-mode: vertical-rl;
  top: 40vh;
  left: 63vw;
  color: #fff;
}
.writing-mode-2 {
  writing-mode: vertical-rl;
  top: 40vh;
  right: 37vw;
  color: #fff;
}
.writing-mode-3 {
  writing-mode: vertical-rl;
  top: 40vh;
  left: 40vw;
  color: #fff;
}

.ProjectButton{
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  z-index: 999;
  left:50%;
  bottom: 10%;
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
  width: 150px;
  transform: translateX(-75px);
  transition: all 0.3s ease-in-out;
}
.ProjectButton:hover{

  background: rgba(255, 255, 255, 0.3);
  transform: translate(-75px,-3px);
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.342);
}
.ProjectButton:active{
  transform: translate(-75px,3px);
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.342);
}
/*section*/

.section {
  padding: 80px 0;
}

.titleH3 {
  text-align: center;
  position: relative;
  color: #a2938b;
  font-size: 1.5rem;
  font-weight:700;
}
.titleH3::after {
  margin: 0 auto;
  display: block;
  height: 2px;
  background-color: #cec1b7;
  content: " ";
  width: 100px;
  margin-top: 15px;
  margin-bottom: 40px;
}

/*section-about*/
.section-about {
  display: flex;
}

/*index section-project*/

#aniimated-thumbnials a {
  display: inline-block;
  width: 33%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
#aniimated-thumbnials ion-icon {
  z-index: 999;
  position: absolute;
  font-size: 50px;
  color: white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-25px, -20px);
}
#aniimated-thumbnials a:hover ion-icon {
  opacity: 1;
}
#aniimated-thumbnials a:hover img {
  width: 105%;
  transform: scale(1.2);
  filter: brightness(0.5);
}

#aniimated-thumbnials img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  filter: brightness(1);
}

.sectionContent {
  background: #796c66;
  height: 300px;
}
.projects {
  background: #fff4e8;
}

/*contact*/
.contact {
  height: 600px;
  display: flex;
}
.contactMap {
  width: 50%;
}
.contact iframe {
  height: 100%;
}

.contactInfo {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/studio.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.contactInfoBg,
.contactInfoBg .titleH3 {
  color: #fff;
  padding-top: 15px;
}
.contactInfoBg {
  position: absolute;
  left: 20%;
}

.contactInfoContent .slogan {
  text-align: center;
}
.contactInfoContent .slogan2 {
  padding-bottom: 10%;
}
.contactInfoContent ion-icon {
  font-size: 15px;
  padding-right: 10px;
  vertical-align: middle;
}

/*footer*/
.footer {
  color: #a2938b;
  transform: translateY(-20px);
 
}

.footer-content::before {
  content: "";
  border-top: 1px solid #d5bfbb;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.footer-content {
  margin-top: 10px;
}
.footer-content ul li {
  list-style: none;
  padding: 5px 0;
}

.footer-content ul {
  float: left;
  margin-right: 30px;
}

.footer-content .footerIcon {
  margin-top: 1.5%;
  float: right;
  font-size: 40px;
  color: #a2938b;
  transition: all 0.5s ease-in-out;
}
.footer-content .footerIcon:hover {
  color: #3b5998;
}
/*project page*/

.projectMain {
  margin-top:15vh;
}

.projectContent {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  
}
.projectMain a p {
  z-index: 999;
  text-align: center;
  color: #a2938b;
}

.projectMain figure {
  
  max-width:calc(33% - 80px);
  height: calc(45% - 5px);
  overflow: hidden;
  margin-bottom: 5px;
}
.projectImg {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.projectMain figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  filter: brightness(0.5);
}
.projectMain figure a:hover img {
  width: 105%;
  transform: scale(1.2);
  filter: brightness(1);
}

.projectMain figure a:hover p {
  color: #796c66;
}
/*project page-3 content*/

.projectTitleImg{
  display: flex;
  align-items:center;
  margin-bottom: 1vh;
  text-transform: uppercase;

}

.projectTitleImg img{
  margin-right: 10px;
}

.projectMain-2 {
  margin-top:15vh;
  margin-bottom: 50px;
}

.projectMainContent {
  display: flex;
  margin-bottom: 5vh;
}

.ContentGallery {
  width: 40%;
}
.ContentInfo {
  width: 60%;
}
.projectGalleryLi {
}

.imageGallery img {



}
